<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shinmusic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shinmusic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SongsActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".UploadAlbumActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Storange" />
        <activity android:name=".DangKy" />
        <activity android:name=".DangNhap" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".TrangChu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>